body { 
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight:medium ;
    padding: 10px;
    margin: 0;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
a{ 
    text-decoration: none;
    color: white;
}
nav {
    height: 65px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#48484a ;
}
nav a img {
    height: 60px;
}
nav .button a {
    background-color: gray;
    padding: 10px;
    color: white;
    border-radius: 30px;
    
}
.hero-img h1{ 
    color: #eb6e4b;
}
.hero-img_inf{
    margin-left:15%;
    width: 300px;
}
.hero-img { 
    height: 300px ;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    background: url("../assets/northern-lights-6862969_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.main-inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.inf_city ul{ 
    list-style-type: none;
}
.search-box { 
    height: 60px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top:20px
}
.search-box input {
    width: 70%;
    height: 60%;
    font-size: 20px;
    border-radius:40px;
    padding:10px 10px 
}
.search-box button {
    height: 60px;
    width: 60px;
    border-radius:50% ;
    margin-left:10px;
}
.inf_city{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
   
}
.inf_city ul li {
    display: flex;
    flex-direction: row;
}